@font-face {
    font-family: FaunaPro;
    src: url(Fauna-Pro-Extra-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: FaunaPro;
    src: url(Fauna-Pro-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: FaunaPro;
    src: url(Fauna-Pro-Bold.ttf);
    font-weight: 700;
}